# Ignore all dot files
.*
!.gitignore
!.env

# Exclude all content subfolders except base theme
public_html/content
!public_html/content/index.php
!public_html/content/themes/base-theme
!public_html/content/themes/index.php

# WordPress
public_html/.htaccess
public_html/wp
public_html/index.php