# Ignore all dot files
.*
!.gitignore

# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
public_html/content/*

# Include base theme
!public_html/content/themes/base/

# Include VM login plug-in
!public_html/content/plugin/vm-cookies/
!public_html/content/plugin/vm-login/

# WordPress
public_html/.htaccess
public_html/wp
public_html/index.php